body {
  font-family: "Noto Sans", sans-serif;
}
/*ITERATION ONE*/
@media only screen and (max-width: 768px) {
  .logo {
    width: 100px;
    height: 40px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content-wrapper h1 {
    /*font-size: 48px;*/
    font-weight: 700;
  }
  .content-wrapper p {
    color: #2c303f;
  }
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-start {
    background-color: #2f3780;
    color: white;
    padding: 10px 60px;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .btn-discover {
    background-color: white;
    color: #2f3780;
    padding: 10px 60px;
    margin-top: 10px;
    border: #2f3780 1px solid;
    border-radius: 5px;
    font-weight: 700;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3f4;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 140px;
    height: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: center;
  }
  .footer-item {
    align-items: center;
    width: 50%;
    box-sizing: border-box;
  }

  .flag-img {
    width: 20px;
    height: 20px;
  }

  .conditions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-item {
    list-style-type: none;
    padding: 10px;
  }

  .fab {
    padding-left: 10px;
    margin-top: 20px;
  }

  .bottom-wrapper {
    display: flex;
    align-content: center;
  }
  .button-wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
}
/*ITERATION TWO*/
@media (min-width: 768px) and (max-width: 961px) {
  .logo {
    width: 100px;
    height: 40px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content-wrapper h1 {
    font-size: 48px;
    font-weight: 700;
  }
  .content-wrapper p {
    color: #2c303f;
  }
  .button-wrapper {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
  }
  .btn-start {
    background-color: #2f3780;
    color: white;
    padding: 10px 60px;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .btn-discover {
    background-color: white;
    color: #2f3780;
    padding: 10px 60px;
    margin-top: 10px;
    border: #2f3780 1px solid;
    border-radius: 5px;
    font-weight: 700;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3f4;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 500px;
  }
  .img {
    width: 140px;
    height: 40px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-wrapper ul {
    align-items: center;
    width: 25%;
    box-sizing: border-box;
  }
  /*.footer-item {
    align-items: center;
    width: 25%;
    box-sizing: border-box;
  }*/

  .flag-img {
    width: 20px;
    height: 20px;
  }

  .conditions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-item {
    list-style-type: none;
    padding: 10px;
  }

  .fab {
    padding-left: 10px;
    margin-top: 20px;
  }

  .bottom-wrapper {
    display: flex;
    align-content: center;
  }
  .button-wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
}
/*ITERATION THREE*/
@media (min-width: 961px) and (max-width: 1024px) {
  .logo {
    width: 100px;
    height: 40px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content-wrapper h1 {
    /*font-size: 48px;*/
    font-weight: 700;
  }
  .content-wrapper p {
    color: #2c303f;
  }
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-start {
    background-color: #2f3780;
    color: white;
    padding: 10px 60px;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .btn-discover {
    background-color: white;
    color: #2f3780;
    padding: 10px 60px;
    margin-top: 10px;
    border: #2f3780 1px solid;
    border-radius: 5px;
    font-weight: 700;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3f4;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 500px;
  }
  .img {
    width: 140px;
    height: 40px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-wrapper ul {
    align-items: center;
    width: 25%;
    box-sizing: border-box;
  }
  /*.footer-item {
        align-items: center;
        width: 25%;
        box-sizing: border-box;
      }*/

  .flag-img {
    width: 20px;
    height: 20px;
  }

  .conditions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-item {
    list-style-type: none;
    padding: 10px;
  }

  .fab {
    padding-left: 10px;
    margin-top: 20px;
  }

  .bottom-wrapper {
    display: flex;
    align-content: center;
  }
  .button-wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
}
/*ITERATION FOUR */
@media only screen and (min-width: 1024px) {
  .logo {
    width: 100px;
    height: 40px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-wrapper {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content-wrapper h1 {
    font-size: 48px;
    font-weight: 700;
  }
  .content-wrapper p {
    color: #2c303f;
  }
  .button-wrapper {
    display: flex;
    max-width: 240px;
    flex-direction: column;
    align-items: center;
  }
  .btn-start {
    background-color: #2f3780;
    color: white;
    padding: 10px 60px;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .btn-discover {
    background-color: white;
    color: #2f3780;
    padding: 10px 60px;
    margin-top: 10px;
    border: #2f3780 1px solid;
    border-radius: 5px;
    font-weight: 700;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3f4;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
  }
  .img {
    width: 140px;
    height: 40px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-wrapper ul {
    align-items: center;
    width: 25%;
    box-sizing: border-box;
  }

  .flag-img {
    width: 20px;
    height: 20px;
  }

  .conditions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-item {
    list-style-type: none;
    padding: 10px;
  }

  .fab {
    padding-left: 10px;
    margin-top: 20px;
  }

  .bottom-wrapper {
    display: flex;
    align-content: center;
  }
  .button-wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
}
